body{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.Notification{
	display: flex;
	align-items: top;
}

.red{
	width: 12px;
	height: 12px;
	
	background-color: red;
	border-radius: 50%;
	transform: translate(-100%,40%);
}